## Creating Panda Series

In [7]:
import numpy as np
import pandas as pd

days =pd.Series(["Monday","Tuesday","Wednesday"])

days

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [12]:
numpy_day= np.array(["Monday","Tuesday","Wednesday"])

panda_day= pd.Series(numpy_day)

array(['Monday', 'Tuesday', 'Wednesday'], dtype='<U9')

In [14]:
panda_day= pd.Series(numpy_day)

panda_day

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [18]:
days =pd.Series(["Monday","Tuesday","Wednesday"], index=['a','b','c'])

days

a       Monday
b      Tuesday
c    Wednesday
dtype: object

###### Alternate way

In [20]:
days_alt= pd.Series({"a":"Monday", "b": "Tuesday", "c":"Wednesday"})

days_alt

a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [22]:
days==days_alt

a    True
b    True
c    True
dtype: bool

In [25]:
days[1:]

b      Tuesday
c    Wednesday
dtype: object

### Dataframe

In [26]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [30]:
df_dict={"Country":["Ghana", "Kenya", "Nigeria", "Togo"],
        "Capital": ["Accra", "Nairobi", "Abuja", "Lome"],
        "Population": [10000,8500,35000,12000],
        "Age":[60,70,80,75]}

df_dict

{'Country': ['Ghana', 'Kenya', 'Nigeria', 'Togo'],
 'Capital': ['Accra', 'Nairobi', 'Abuja', 'Lome'],
 'Population': [10000, 8500, 35000, 12000],
 'Age': [60, 70, 80, 75]}

In [33]:
df=pd.DataFrame(df_dict, index=[2,4,6,8])

df

   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75

In [35]:
df.iloc[2]

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object

In [39]:
df.loc[6]

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object

In [43]:
df["Age"]

2    60
4    70
6    80
8    75
Name: Age, dtype: int64

In [44]:
df.at[6,"Country"]

'Nigeria'

In [48]:
aa= df.iat[2,0]


aa

'Nigeria'

In [23]:
df.mean()
df.describe()

NameError: name 'df' is not defined

In [21]:
x=5

x ^= 3
x

6

In [ ]:
1-2
3-0
4-7
5-6